Repository MrinallSamal-byte/AI_Traffic_Control-03, changes with the owners that CODEOWNERS names for each.
All owners: @tech-lead, @senior-dev, @backend-team, @ml-team, @frontend-team, @devops-team, @blockchain-team, @security-team

feat: Enhanced Smart Transportation System with production-ready features
  .github/workflows/integration-test.yml
  QUICKSTART_ENHANCED.md
  api_server/auth_middleware.py
  api_server/graphql_api.py
  database/init.sql
  ml_services/model_manager.py
  mobile_app/flutter_app.dart
  ops/monitoring/metrics_collector.py
  requirements.txt
  start_system.py
  stream_processor/processor.py
  tools/security/security_scanner.py
  tools/stress_test.py
  tools/telemetry_replay.py
Owners: @devops-team, @tech-lead, @senior-dev, @backend-team, @ml-team, @security-team

Add ML driver scoring system with RandomForest model and API endpoint
  README_ML_DEMO.md
  api_server/app.py
  device_simulator/simple_simulator.py
  ml_services/driver_score.py
  ml_services/train_model.py
  test_ml_system.py
Owners: @tech-lead, @senior-dev, @backend-team, @ml-team

feat: enhance ml training script with better logging
  .github/workflows/prototype-tests.yml
  README_PROTOTYPE.md
  api_server/app.py
  api_server/db.py
  device_simulator/simulator.py
  frontend/demo.html
  ml_services/train_model.py
  pytest.ini
  requirements.txt
  tests/test_api_smoke.py
  tests/test_driver_score.py
Owners: @devops-team, @tech-lead, @senior-dev, @backend-team, @frontend-team, @ml-team

feat: add ML driver scoring system and enhanced API endpoints
  README_DEMO.md
  api_server/app.py
  docs/TELEMETRY_SCHEMA.md
  tests/test_api.py
Owners: @tech-lead, @senior-dev, @backend-team

mvp: add local ML model + API + simulator demo
  README_QUICKSTART.md
  api_server/app.py
  dashboard/simple_demo.html
  device_simulator/simulator.py
  tests/test_api_driver_score.py
Owners: @tech-lead, @senior-dev, @backend-team, @frontend-team

add MVP flow test script
  test_mvp_flow.py
Owners: @tech-lead, @senior-dev

add MVP implementation summary and documentation
  MVP_IMPLEMENTATION_SUMMARY.md
Owners: @tech-lead, @senior-dev

Phase 1: Repo Hardening & Developer Experience - Enhanced pre-commit hooks, ESLint/Prettier setup, improved CI pipeline, automated setup scripts, and comprehensive Makefile
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  frontend/.eslintrc.js
  frontend/.prettierrc
  frontend/package.json
  frontend/src/App.test.js
  pyproject.toml
  setup.bat
  setup.sh
Owners: @devops-team, @tech-lead, @senior-dev, @frontend-team

feat: Enhanced Smart Transportation System with ML inference, real-time dashboard, and blockchain integration
  README_ENHANCED.md
  api_server/app.py
  api_server/websocket_handler.py
  dashboard/app.js
  dashboard/index.html
  device_simulator/simulator.py
  ml_services/ml_api.py
  ml_services/train_baseline_model.py
  start_enhanced_system.py
  stream_processor/processor.py
  stream_processor/schemas.py
  test_enhanced_system.py
  tests/test_integration_flow.py
  tests/test_ml_inference.py
Owners: @tech-lead, @senior-dev, @backend-team, @frontend-team, @ml-team

Complete Smart Transportation System implementation - MVP to Production ready
  .env.example
  IMPLEMENTATION_SUMMARY.md
  README_PROTOTYPE.md
  api_server/app.py
  dashboard/realtime_dashboard.html
  ml/models/harsh_driving_metadata_20250920_113327.json
  ml/models/harsh_driving_metadata_latest.json
  ml/models/harsh_driving_model_20250920_113327.pkl
  ml/models/harsh_driving_model_latest.pkl
  ml/training/train_harsh_driving.py
  ml_services/serve.py
  ops/grafana_dashboards/transport_system_dashboard.json
  requirements-minimal.txt
  start_full_system.py
  stream_processor/schema/telemetry.json
  stream_processor/schemas.py
  tests/unit/test_blockchain_integration.py
  tests/unit/test_ml_inference.py
  tests/unit/test_telemetry_validation.py
  tools/generate_sample_telemetry.py
Owners: @tech-lead, @senior-dev, @backend-team, @frontend-team, @ml-team

feat: Complete Smart Transportation System implementation with enhanced features
  Makefile
  README_PROTOTYPE.md
  api_server/app.py
  api_server/auth.py
  api_server/config.py
  api_server/websocket_enhanced.py
  dashboard/realtime_enhanced.html
  docker-compose.enhanced.yml
  ml/training/train_enhanced.py
  ml_services/serve.py
  ops/grafana_dashboards/transport_system_enhanced.json
  ops/prometheus.yml
  ops/prometheus_alerts.yml
  start_prototype.py
  stream_processor/processor.py
  stream_processor/schema/telemetry.json
  stream_processor/validator.py
  tests/integration/test_end_to_end_prototype.py
  tests/unit/test_blockchain_integration_enhanced.py
  tests/unit/test_ml_serving_enhanced.py
  tests/unit/test_telemetry_validation_enhanced.py
  tools/demo_data_generator.py
Owners: @tech-lead, @senior-dev, @backend-team, @frontend-team, @ml-team

Enhanced Smart Transportation System - Production-Ready Prototype
  README.md
  api_server/enhanced_auth.py
  api_server/websocket_manager.py
  blockchain/enhanced_blockchain_service.py
  dashboard/realtime_enhanced_dashboard.html
  ml/training/train_baseline_harsh_driving.py
  ml_services/enhanced_ml_api.py
  ops/grafana_dashboards/comprehensive_transport_dashboard.json
  ops/prometheus_enhanced_alerts.yml
  start_enhanced_prototype.py
  stream_processor/enhanced_validator.py
  stream_processor/schema/telemetry.json
  tests/unit/test_enhanced_blockchain_integration.py
  tests/unit/test_enhanced_ml_inference.py
  tests/unit/test_enhanced_telemetry_validation.py
  tools/enhanced_demo_data_generator.py
Owners: @tech-lead, @senior-dev, @backend-team, @blockchain-team, @frontend-team, @ml-team

CODEOWNERS:

# Global owners
* @tech-lead @senior-dev

# API and backend
/api_server/ @backend-team
/stream_processor/ @backend-team
/ml_services/ @ml-team

# Frontend
/frontend/ @frontend-team
/dashboard/ @frontend-team

# Infrastructure
/infra/ @devops-team
/docker-compose.yml @devops-team
/.github/ @devops-team

# Blockchain
/blockchain/ @blockchain-team

# Security
/tools/security/ @security-team
SECURITY.md @security-team
